{% load static %}
<section id="contact" class="line-blue-pink">
    <div class="info">
        <div class="contact-info hidden delay-1">
            <h2>Informações de Contato</h2>
            <ul class="itemize">
                <li class="item">
                    <span
                        >ufsc.lia@gmail.com</span
                    >
                </li>
                <li class="item">
                    <span
                        >R. Gov. Jorge Lacerda, 3201 - Urussanguinha,
                        Araranguá - SC</span
                    >
                </li>
                <li class="item">
                    <span
                        >Bloco A - Sala 321</span
                    >
                </li>
            </ul>
        </div>
        <div class="social-media hidden delay-1">
            <h2>Nossas Redes Sociais</h2>
            <ul class="social-media-list">
                <li class="sns">
                    <a
                        target="_blank"
                        href="https://www.youtube.com/channel/UCjBzjzleOAgmk8qoJBgS0qg"
                        class="sns"
                    >
                        <span class="icon icon-youtube"></span> LIA
                    </a>
                </li>
                <li class="sns">
                    <a target="_blank" href="https://www.instagram.com/lia.ufsc/" class="sns">
                        <span class="icon icon-instagram"></span>
                        @liaufsc
                    </a>
                </li>
                <li class="sns">
                    <a
                        target="_blank"
                        href="https://github.com/Liga-IA"
                        class="sns"
                    >
                        <span class="icon icon-github"></span>
                        liaufsc
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="message hidden">
        <h2>Envie uma Mensagem!</h2>
        <form class="message-form" action="post">
            <label for="name">Nome:</label>
            <input placeholder='Seu Nome' type="text">
            <label for="email">E-mail:</label>
            <input placeholder='Seu E-mail' type="text">
            <label for="subject">Assunto:</label>
            <input placeholder='Assunto' type="text">
            <label for="message">Mensagem:</label>
            <textarea placeholder='Escreva sua mensagem...' class="message-input" type="text"></textarea>    
            <input class="btn" type="submit" value="Buscar" />
        </form>
    </div>
</section>