{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col sns-col">
                <img
                    class="footer-logo"
                    src="{% static '/assets/logo_lia.png' %}"
                    alt="logo"
                />
                <a
                    target="_blank"
                    href="https://www.youtube.com/channel/UCjBzjzleOAgmk8qoJBgS0qg"
                    class="sns"
                >
                    <span class="icon icon-youtube"></span> LIA
                </a>
                <a target="_blank" href="" class="sns">
                    <span class="icon icon-instagram"></span>
                    @liaufsc
                </a>
                <a target="_blank" href="" class="sns">
                    <span class="icon icon-facebook"></span>
                    @liaufsc
                </a>
                <a
                    target="_blank"
                    href="https://github.com/Liga-IA"
                    class="sns"
                >
                    <span class="icon icon-github"></span> liaufsc
                </a>
            </div>
            <div class="col contact-col">
                <h3>Contatos</h3>
                <div class="contact-item">
                    <span class="icon icon-mail4"></span>
                    ufsc.lia@gmail.com
                </div>
                <div class="contact-item">
                    <span class="icon icon-university"></span> UFSC
                    - Campus Araranguá
                </div>
                <div class="contact-item">
                    <span class="icon icon-location"></span>R. Gov. Jorge Lacerda, 3201 - Urussanguinha
                </div>
            </div>
            <div class="col menu-col">
                <h3>Menu</h3>
                <a href="/" class="sns"> Home </a>
                <a href="/about/" class="sns"> Sobre </a>
                <a href="/projects/" class="sns">
                    Projetos
                </a>
                <a href="/articles/" class="sns"> Blog </a>
                <a href="/contact/" class="sns">
                    Contato
                </a>
            </div>
        </div>
    </div>
</footer>