{% extends 'main.html' %}

{% load static %}

{% block titulo %}
  Página inicial
{% endblock %}

{% block conteudo %}
<section id="intro" class="blog-intro line-pink-blue">
  <div class="banner-container">
      <img src="{% static '/assets/about-blog.png' %}" class="banner-bg">
      <img src="{% static '/assets/about-blog.png' %}" class="banner-img" alt="" />
  </div>
  <div class="titles">
      <h1>Nossos Artigos</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua!</p>
  </div>
</section>

<section id="all-projects" class="line-blue-pink">

  <div class="cards">
      {% for dado in dados %}
          <a href="/member/{{dado.pk}}" class="card card-project hidden delay-1">
              <img src="{{dado.imagem.url}}" alt="Minha Imagem" />
              <div class="floating-link">
                  teste mais <span class="icon-arrow-right2"></span>
              </div>
              <div class="card-info">
                  <div class="title project">{{dado.name}}</div>
                  <div class="description">
                      <p>{{dado.description|safe}} </p>
                  </div>
              </div>
          </a>
      {% endfor %}
  </div>
  <div class="btn">Carregar Mais</div>
</section>

{% endblock %}