{% load static %}

<section id="about" class="container-fluid line-blue-pink">
    <div class="img-text">
        <div class="image hidden">
            <img src="{% static '/assets/about2.jpg' %}" alt="" />
        </div>
        <div class="text hidden delay-1">
            <h2>Sobre a LIA</h2>
            <p>
                A Liga de Inteligência Artificial (LIA) foi fundada em 2019 por alunos da Universidade Federal de Santa Catarina (UFSC) em Araranguá, com o objetivo de promover o estudo de Inteligência Artificial no ambiente acadêmico. Desde então, a LIA tem se dedicado a fornecer oportunidades para seus membros aprofundarem seus conhecimentos em IA, colaborar com outros estudantes e se envolver em projetos relevantes.<br><br>

                Além de promover o estudo de IA no ambiente acadêmico, a LIA também busca difundir o conhecimento com o público externo através de projetos de extensão, pesquisa e ensino. Os membros da liga participam de cursos, competições e eventos públicos para informar a comunidade externa à universidade sobre os usos, conceitos e potenciais da IA.<br><br>

                A LIA é dividida em grupos referentes a diferentes ramos relacionados a IA, como aprendizado de máquina, sistemas multiagentes e análise de dados. Os membros são colocados colocados em grupos com base em seus interesses e habilidades, permitindo que os participantes se concentrem em áreas específicas de interesse e desenvolvam habilidades e conhecimentos especializados nessas áreas.<br><br>

                A liga também realiza diversas parcerias com empresas e outras organizações, visando a aplicação prática da IA em problemas reais. Essas parcerias contribuem para o desenvolvimento de soluções e para a formação de profissionais capacitados na área.<br>
            </p>
        </div>
    </div>
</section>