{% load static %}

<section id="about" class="container-fluid line-blue-pink">
    <div class="img-text">
        <div class="image hidden">
            <img src="{% static '/assets/about2.png' %}" alt="" />
        </div>
        <div class="text hidden delay-1">
            <h2>Sobre a LIA</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est
                laborum. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Laborum dolorum quasi expedita
                magni ducimus delectus voluptates doloremque quas ab
                nihil neque quidem, voluptatibus dolor rerum,
                temporibus suscipit laudantium? At, quas.
            </p>

            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Odit tenetur delectus voluptas illum sapiente
                minus ipsa atque earum iusto repellendus neque fuga,
                eveniet nulla beatae dolores doloremque officiis et
                rerum. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Autem, sit repellat? Illum
                laboriosam voluptates, ipsa doloremque eius ab neque
                provident maiores error dolore eveniet cumque. Aut
                molestiae exercitationem debitis tempore.
            </p>
        </div>
    </div>
</section>