{% load static %}
<section id="intro" class="not-home left-intro line-pink-blue">
    <div class="banner-container-container">
        <div class="banner-container">
            <!-- <img src="./assets/Blooming Days.png" alt="" /> -->
            <div class="texts hidden delay-1">
                <h1>Sobre a LIA</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit.
                </p>
            </div>
            <div class="image hidden">
                <img src="{% static '/assets/about.png' %}" alt="" />
            </div>
        </div>
    </div>
</section>