{% load static %}
<section id="things" class="line-pink-blue">
    <div class="texts hidden">
        <h2>O que Fazemos</h2>
        <p>
            Conheça mais sobre nossos projetos, artigos e membros! Clique em um dos cards abaixo para explorar nossa liga!
        </p>
    </div>
    <div class="cards">
        <a href="/articles/" class="card card-article hidden">
            <img src="{% static '/assets/artigos.jpg' %}" alt="" />
            <div class="floating-link">
                Ver Todos <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Artigos</div>
            </div>
        </a>
        <a href="/members" class="card card-article hidden delay-2">
            <img src="{% static './assets/time.jpg' %}" alt="" />
            <div class="floating-link">
                Ver Todos <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Membros</div>
            </div>
        </a>
        <a href="/projects/" class="card card-article hidden delay-1">
            <img src="{% static '/assets/projetos.jpg' %}" alt="" />
            <div class="floating-link">
                Ver Todos <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Projetos</div>
            </div>
        </a>

    </div>
</section>