{% load static %}
<section id="what-is" class="line-blue-pink">
    <div class="image-text">
        <div class="image hidden delay-1">
            <img src="{% static '/assets/presentation.jpg' %}" alt="" />
        </div>
        <div class="texts hidden">
            <h2>O que é a LIA?</h2>
            <p>
                A Liga de Inteligência Artificial (LIA) é uma organização criada por estudantes da Universidade Federal de Santa Catarina (UFSC), que se uniram com o objetivo de estudar a fundo o tema de Inteligência Artificial (IA). A LIA tem como propósito disseminar o conhecimento adquirido através de projetos de extensão e colaborar para a evolução da área de IA no ambiente acadêmico. A liga tem uma visão multidisciplinar e busca aprimorar seus conhecimentos e habilidades em programação, estatística, dentre outras áreas relevantes para a IA. A LIA também tem como objetivo estabelecer uma rede de colaboração com outras instituições, a fim de expandir ainda mais os conhecimentos de IA.
            </p>

            <a href ="about.html">
                <button class="btn">Saiba Mais</button>
            </a>
        </div>
    </div>
</section>