{% load static %}
<section id="what-is" class="line-blue-pink">
    <div class="image-text">
        <div class="image hidden delay-1">
            <img src="{% static '/assets/presentation.png' %}" alt="" />
        </div>
        <div class="texts hidden">
            <h2>O que é a LIA?</h2>
            <p>
                a Liga de Inteligência Artificial é uma organização crucial 
                para o avanço da IA e para garantir que sua evolução seja feita de 
                forma ética e responsável. Com seu compromisso em promover a 
                conscientização pública, estabelecer normas e regulamentações, e 
                fomentar o desenvolvimento de tecnologias inovadoras, a Liga está 
                liderando o caminho para um futuro mais inteligente e humano.
            </p>

            <a href ="about.html">
                <button class="btn">Saiba Mais</button>
            </a>
        </div>
    </div>
</section>