{% load static %}
<section id="what-is" class="line-blue-pink">
    <div class="image-text">
        <div class="image hidden delay-1">
            <img src="{% static '/assets/presentation.png' %}" alt="" />
        </div>
        <div class="texts hidden">
            <h2>O que é a LIA?</h2>
            <p>
                A Liga de Inteligência Artificial (LIA) é uma organização criada por estudantes da Universidade Federal de Santa Catarina (UFSC), que se uniram com o objetivo ampliar os estudos sobre tema de Inteligência Artificial (IA).
                Além de ampliar seus conhecimentos, os participantes da LIA buscam disseminar o conhecimento adquirido através de projetos de pesquisa, ensino e extensão.  
                A liga tem uma visão multidisciplinar, onde vários conhecimentos e habilidades são trabalhados.
                A LIA também tem como objetivo estabelecer uma rede de colaboração com outras instituições, a fim de expandir ainda mais os conhecimentos sobre IA.
            </p>

            <a href ="about.html">
                <button class="btn">Saiba Mais</button>
            </a>
        </div>
    </div>
</section>
