{% load static %}

<section id="our-articles" class="line-blue-pink">
    <div class="texts hidden">
        <h2>Nossos Artigos</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod butewbr tempor incididunt ut labore et
            dolore magna aliqua. Lorem ipsum dolor, sit amet
            consectetur.
        </p>
    </div>
    <div class="cards">
        <a href="" class="card card-article hidden">
            <img src="./assets/baobasfoda.jpg" alt="" />
            <div class="floating-link">
                Ler Artigo <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Plantação de Baobá</div>
            </div>
        </a>
        <a href="" class="card card-article hidden delay-1">
            <img src="./assets/baobasfoda.jpg" alt="" />
            <div class="floating-link">
                Ler Artigo <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Plantação de Baobá</div>
            </div>
        </a>
        <a href="" class="card card-article hidden delay-2">
            <img src="./assets/baobasfoda.jpg" alt="" />
            <div class="floating-link">
                Ler Artigo <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Plantação de Baobá</div>
            </div>
        </a>
    </div>
    <button class="btn">Saiba Mais</button>
</section>