{% load static %}

<section id="our-projects" class="line-pink-blue">
    <div class="texts hidden">
        <h2>Nossos Projetos</h2>
        <p>
            Explore nossos projetos e descubra soluções inovadoras e criativas em diferentes áreas! Não deixe de conferir nossos projetos e veja como podemos ajudar a transformar suas ideias em realidade!
        </p>
    </div>
    <div class="cards">
        <a href="/project/1" class="card card-project hidden">
            <img src="{% static '/assets/projectfeature1.png' %}" alt="" />
            <div class="floating-link">
                Saiba mais <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title project">PyAnalytics</div>
                <div class="description">
                    <p>
                       
                    </p>
                </div>
            </div>
        </a>
        <a href="/project/2" class="card card-project hidden delay-1">
            <img src="{% static '/assets/projectfeature3.png' %}" alt="" />
            <div class="floating-link">
                Saiba mais <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title project">LI(A)RA</div>
                <div class="description">
                    <p>
                     
                    </p>
                </div>
            </div>
        </a>
        <a href="/project/3" class="card card-project hidden delay-2">
            <img src="{% static '/assets/projectfeature2.png' %}" alt="" />
            <div class="floating-link">
                Saiba mais <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title project">Analytics2AI</div>
                <div class="description">
                    <p>
                      
                    </p>
                </div>
            </div>
        </a>
    </div>
    <button class="btn">Saiba Mais</button>
</section>