{% load static %}

<section id="our-articles" class="line-blue-pink">
    <div class="texts hidden">
        <h2>Nossos Artigos</h2>
        <p>
            Confira nossos artigos e fique por dentro das últimas notícias e projetos da liga! 
        </p>
    </div>
    <div class="cards">
        <a href="/post/1" class="card card-article hidden">
            <img src="{% static '/assets/articlefeature1.png' %}" alt="" />
            <div class="floating-link">
                Ler Artigo <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Conheça Nossa Liga</div>
            </div>
        </a>
        <a href="/post/2" class="card card-article hidden delay-1">
            <img src="{% static '/assets/articlefeature2.png' %}" alt="" />
            <div class="floating-link">
                Ler Artigo <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">Análise de Dados</div>
            </div>
        </a>
        <a href="/post/3" class="card card-article hidden delay-2">
            <img src="{% static '/assets/articlefeature3.png' %}" alt="" />
            <div class="floating-link">
                Ler Artigo <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title">JASON ou JSON?</div>
            </div>
        </a>
    </div>
    <button class="btn">Saiba Mais</button>
</section>