{% load static %}

<section id="our-projects" class="line-pink-blue">
    <div class="texts hidden">
        <h2>Nossos Projetos</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod butewbr tempor incididunt ut labore et
            dolore magna aliqua. Lorem ipsum dolor, sit amet
            consectetur.
        </p>
    </div>
    <div class="cards">
        <a href="" class="card card-project hidden">
            <img src="./assets/baobasolo.jpg" alt="" />
            <div class="floating-link">
                Saiba mais <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title project">Plantação de Baobá</div>
                <div class="description">
                    <p>
                        Projeto Baobá insana visa plantar um monte
                        de baobá na Terra. Isso fará com que o mundo
                        terá mais Baobás em geral.
                    </p>
                    <p>
                        Projeto Baobá insana visa plantar um monte
                        de baobá na Terra. Isso fará com que o mundo
                        terá mais Baobás em geral.
                    </p>
                </div>
            </div>
        </a>
        <a href="" class="card card-project hidden delay-1">
            <img src="./assets/baobasolo.jpg" alt="" />
            <div class="floating-link">
                Saiba mais <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title project">Plantação de Baobá</div>
                <div class="description">
                    <p>
                        Projeto Baobá insana visa plantar um monte
                        de baobá na Terra. Isso fará com que o mundo
                        terá mais Baobás em geral.
                    </p>
                    <p>
                        Projeto Baobá insana visa plantar um monte
                        de baobá na Terra. Isso fará com que o mundo
                        terá mais Baobás em geral.
                    </p>
                </div>
            </div>
        </a>
        <a href="" class="card card-project hidden delay-2">
            <img src="./assets/baobasolo.jpg" alt="" />
            <div class="floating-link">
                Saiba mais <span class="icon-arrow-right2"></span>
            </div>
            <div class="card-info">
                <div class="title project">Plantação de Baobá</div>
                <div class="description">
                    <p>
                        Projeto Baobá insana visa plantar um monte
                        de baobá na Terra. Isso fará com que o mundo
                        terá mais Baobás em geral.
                    </p>
                    <p>
                        Projeto Baobá insana visa plantar um monte
                        de baobá na Terra. Isso fará com que o mundo
                        terá mais Baobás em geral.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <button class="btn">Saiba Mais</button>
</section>